{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "Sample API",
        "description": "Buy or rent spacecrafts"
    },
    "servers": [
        {
            "url": "https://development.gigantic-server.com/v1",
            "description": "Development server"
        },
        {
            "url": "https://staging.gigantic-server.com/v1",
            "description": "Staging server"
        },
        {
            "url": "https://api.gigantic-server.com/v1",
            "description": "Production server"
        }
    ],
    "paths": {
        "/spacecrafts/{spacecraftId}": {
            "parameters": [
                {
                    "name": "spacecraftId",
                    "description": "The unique identifier of the spacecraft",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/SpacecraftId"
                    }
                }
            ],
            "get": {
                "summary": "Read a spacecraft",
                "responses": {
                    "200": {
                        "description": "The spacecraft corresponding to the provided `spacecraftId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Spacecraft"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No spacecraft found for the provided `spacecraftId`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "SpacecraftId": {
                "description": "The unique identifier of a spacecraft",
                "type": "string"
            },
            "Spacecraft": {
                "type": "object",
                "required": [
                    "id",
                    "name",
                    "type"
                ],
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/SpacecraftId"
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "capsule",
                            "probe",
                            "satellite",
                            "spaceplane",
                            "station"
                        ]
                    },
                    "description": {
                        "type": "string"
                    }
                }
            },
            "Error": {
                "type": "object",
                "required": [
                    "message"
                ],
                "properties": {
                    "message": {
                        "description": "A human readable error message",
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "ApiKey": {
                "type": "apiKey",
                "in": "header",
                "name": "X-Api-Key"
            }
        }
    },
    "security": [
        {
            "ApiKey": []
        }
    ]
}